* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 200px;
  height: 300px;
}
.card {
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.card-container:hover .card {
  transform: rotateY(180deg);
}
.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.card .front {
  background: rgb(69, 143, 255);
  color: white;
  text-align: center;
}
.card .front p {
  padding: 5px;
}
.card .back {
  background: rgb(255, 200, 49);
  color: white;
  transform: rotateY(180deg);
}
.back button {
  cursor: pointer;
  padding: 5px 30px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.back button:hover {
  color: rgb(255, 200, 49);
  background: white;
  box-shadow: 1px 1px 1px rgb(235, 235, 235);
}
